apiVersion: v1
kind: Service
metadata:
  name: demo-nginx-svc
  namespace: tafadzwa-dev
spec:
  selector:
    app: demo-nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP

